*.DS_Store
yaml/polls-secrets
env/
env
yaml/lets-encrypt-do-dns.yaml
yaml/polls-configmap.yaml
yaml/ingress_nginx_svc.yaml
yaml/prod_issuer.yaml
yaml/staging_issuer.yaml
yaml/polls-ingress.yaml
db.sqlite3

